@import '../../sass/all.scss';

.note_bar_container {
    padding-top: 32px;
    input {
        width: 84%;
        font-size: 16px;
        line-height: 20px;
        padding: 12px 20px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        @include breakpoint(sm) {
            width: 84%;
        }
        @include breakpoint(sm) {
            width: 90%;
        }
        @include breakpoint(sm) {
            width: 93%;
        }
    }
}