@import '../../sass/all.scss';

.note_container {
    padding-top: 32px;
    // background-color: $color_light_gray;
    .note_wrapper {
        position: relative;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0 0px 5px rgba(0,0,0,0.12), 
        0 2px 2px rgba(0,0,0,0.12), 
        0 4px 4px rgba(0,0,0,0.12), 
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
        .pin_note {
            position: absolute;
            top: 8px;
            right: 10px;
        }
        .title_section {
            border: none;
            outline: none;
            resize: none;
            padding: 8px 16px;
            font-size: 16px;
            line-height: 20px;
            overflow-y: hidden;
            @include font_roboto_medium;
        }
        .text_1 {
            resize: none;
            height: 22px !important;
            padding-right: 36px;
            border-radius: 10px 10px 0 0;
        }
        .note_area {
            width: auto;
            min-height: 22px;
            max-height: 536px;
            overflow-y: auto;
            border-radius: 0;
        }
    }
}