@import '../../sass/all.scss';

.side_nav_container {
    height: calc(100vh - 9vh);
    .nav_list {
        width: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list {
            height: 30px;
            margin-bottom: 24px;
            cursor: pointer;
            .icon {

            }
            .txt {
                display: none;
                @include breakpoint(sm) {
                    display: block;
                    font-size: 16px;
                    color: $color_light_gray;
                    margin-left: 16px;
                    @include font_roboto_bold;
                }
            }
            @include breakpoint(sm) {
                display: flex;
                align-items: center;
            }
            &.notes {
                margin-top: 16px;
            }
            &.active_nav {
                padding: 6px 8px;
                border-radius: 50%;
                background-color: $color_active;
            }
            &.open_view {
                width: 100%;
                margin-left: -20px;
                padding-left: 20px;
                border-radius: 0 25px 25px 0;
                background-color: $color_active;
            }
        }
        &.show_list {
            width: 175px;
            padding-left: 20px;
            align-items: flex-start;
            transition: width 200ms ease;
        }
    }
}