@import '../../sass/all.scss';

.search_area {
    .form_control {
        position: relative;
        padding: 0;
        overflow: hidden;
        .icon_area {
            position: absolute;
            left: 12px;
            top: 6px;
        }
        .form_input {
            width: 75%;
            font-size: 14px;
            line-height: 16px;
            outline: none;
            padding: 11px 50px;
            border: none;
            color: $color_light_gray;
            background-color: $color_light_gray_1;
            @include font_roboto_medium;
        }
    }
    &.mobile_search_area {
        .form_control {
            width: 100%;
            .icon_area {
                top: 21px;
            }
            .form_input {
                width: 86%;
                font-size: 16px;
                line-height: 24px;
                padding: 21px 50px;
                color: $color_black;
                background-color: $color_off_white;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }
}