@import '../sass/all.scss';

@keyframes customEnterOverlayAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes customLeaveOverlayAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes customEnterModalAnimation {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes customLeaveModalAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}

// .customOverlay {
//     background: rgba(36, 123, 160, 0.7);
// }

.login_modal {
    // background: #b2dbbf;
    max-width: 300px !important;
    width: 100%;
    border-radius: 10px;
    &.sign_up_modal {
        @include breakpoint(sm) {
            max-width: 700px !important;
        }
    }
}